.product_card {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 2fr));
  gap: 10px;
}

@media (max-width: 1024px) {
  .product_card {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width: 600px) {
  .product_card {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 400px) {
  .product_card {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}

.product_item {
  background-color: #f0f3f7;
  padding: 14px;
  text-align: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.item_name {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary);
}

.item_credit {
  font-size: 48px;
}

.item_simple_text {
  font-weight: 700;
  font-size: 12px;
  color: #1f7299;
  opacity: calc(80%);
}

.item_btn {
  border: 1px solid var(--primary);
  border-radius: 4px;
  margin-top: 22px;
  font-weight: 400;
  font-size: 16px;
}

.item_btn:hover{
  color: white;
  background-color: var(--primary);
}

.summary_text{
    font-weight: 600;
    font-size: 16px;
}

.summary_value{
    font-weight: 400;
    font-size: 12px;
}