@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #003d58;
  --secondary: #70e000;
  --shadow: #003d5880;
  --primaryHover: #062d40;
  --secondaryHover: #548f22;
  --backgroundColor: #fbfbfb;
}

html {
  font-size: 16px;
}

body {
  background-color: #f0f3f7;
  color: var(--primary);
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 110%;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
}

p,
span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

a {
  font-weight: 600;
  line-height: 125%;
}

a:hover {
  color: var(--primaryHover);
}

small {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

label {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary);
  margin-bottom: 4px;
}

input,
select {
  height: 56px;
  border-radius: 4px;
  border: 1px solid var(--primary);
  padding: 14px 20px;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  background-color: var(--backgroundColor);
}

button {
  height: 56px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

hr {
  border-color: #aeaeae;
}

.bg-white {
  background-color: var(--backgroundColor);
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: var(--primaryHover);
  border: 1px solid var(--primaryHover);
  color: #ffffff;
}

.btn-outline-primary {
  background-color: #ffffff;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-outline-primary:hover {
  background-color: var(--primaryHover);
  border: 1px solid var(--primaryHover);
  color: #ffffff;
}

.btn-secondary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: var(--secondaryHover);
  border: 1px solid var(--secondaryHover);
  color: #ffffff;
}

/* Estado de ativo do menu */
.active {
  background-color: #f0f3f7;
}
/* END - Estado de ativo do menu */

.container-content {
  padding: 2rem;
}

.border_secondary_class td:nth-child(1) {
  border-left: 4px solid var(--secondary);
}

.border_primary_class td:nth-child(1) {
  border-left: 4px solid var(--primary);
}

.border_purple_class td:nth-child(1) {
  border-left: 4px solid #c905fa;
}

.borderInternal_secondary_class td:nth-child(2) div {
  border-left: 5px solid var(--secondary);
  padding-left: 14px;
  height: 45px;
}

.borderInternal_primary_class td:nth-child(2) div {
  border-left: 5px solid var(--primary);
  padding-left: 14px;
  height: 45px;
}

.borderInternal_purple_class td:nth-child(2) div {
  border-left: 5px solid #c905fa;
  padding-left: 14px;
  height: 45px;
}

.error-message {
  background-color: #f03d3d;
  color: #f7f7f7;
  border-radius: 4px;
  padding: 4px;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.error-message span {
  font-size: 0.75rem;
  font-weight: 500;
}

.load {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  border: solid 4px #fff;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #e0e0e0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}


@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to { 
      transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .container-content {
    padding: 16px;
  }
}
